/* Error: Undefined variable.
 *    ,
 * 10 |     color:$color-second;
 *    |           ^^^^^^^^^^^^^
 *    '
 *   sass\include\color.scss 10:11  @import
 *   sass\style.scss 6:8            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      color:$color-second;\d\a    \2502            ^^^^^^^^^^^^^\a    \2575 \a   sass\\include\\color.scss 10:11  @import\a   sass\\style.scss 6:8            root stylesheet";
}
